.page-container {
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 3;
}

@import "_pages/purchase_pages";
@import "_pages/upgrades";
@import "_pages/messages";
@import "_pages/misc";
