.purchasable-item {
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 5px;
  padding: 2px;

  &:first-child {
    margin-bottom: 0;
  }

  &.locked {
    color: #777777;
    opacity: 0.5;
  }

  h3.label {
    font-size: 1em;
    margin: 2px;

    &.purchased {
      color: #00aa00;
    }

    span.amount {
      cursor: default;
      float: right;
      color: #777777;
    }
  }

  p {
    font-size: 0.8em;
    margin: 0;
    padding: 3px;

    &.stats {
      float: right;
    }

    em {
      color: #777777;
    }
  }

  button {
    margin: 1px;
    background-color: #bbbbbb;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: -1px -1px 0px #aaaaaa;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;

    &:disabled {
      color: #aaaaaa;
      background-color: #777777;
      border-color: #777777;
      cursor: default;
      text-shadow: none;
    }
  }
}
